body{
    width: 100%;
    margin: 10px -10px;
    display: flex;
    justify-content: right;
    /* align-items: center; */
    height: 100vh;
    transition: .4s;
}
H1 { 
    text-align : center;
    font-size: 2.5em; /* Set your desired font size */
    position: absolute;
    top: 05%; /* Center vertically at the top */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element perfectly */
    text-transform: uppercase; /* Convert text to uppercase */
    color: darkgoldenrod;
}

.input{
    visibility: hidden;
}

.label{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgb(183, 179, 179);
    border-radius: 20px;
}

.circle{
    width: 34px;
    background-color: white;
    height: 34px;
    border-radius: 50px;
    top: 3px;
    position: absolute;
    left: 3px;
    cursor: pointer;
    animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label{
    background-color: white;
}

.input:checked + .label .circle{
    animation: toggleOn 0.4s linear forwards;
    background-color: black;
}

@keyframes toggleOn {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(40px);
    }
}

@keyframes toggleOff {
    0%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(0);
    }
}